<h1 class="title">Quickest responsive card grid (original, with bulma CSS)</h1>
<div class="grid">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://source.unsplash.com/2pPuwCMB0fQ"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div>
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://source.unsplash.com/2pPuwCMB0fQ"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div>
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://source.unsplash.com/2pPuwCMB0fQ"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div>
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://source.unsplash.com/2pPuwCMB0fQ"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div>
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://source.unsplash.com/2pPuwCMB0fQ"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div>
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Quickest responsive card grid (stripped)</h1>
<div class="grid">
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
  <div>
    <img src="https://source.unsplash.com/2pPuwCMB0fQ" width="200" height="128" alt="Placeholder image" />
    <div>John Smith</div>
    <div>@johnsmith</div>
  </div>
</div>
