.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;  
}

/* .line-clamp {
  height: 2.4rem;
  line-height: 1.2rem;
  overflow: hidden;
} */
